

<div class="row">
    <div class="col-md-6">
        <form [formGroup]="passwordForm" autocomplete="off" novalidate (ngSubmit)="submitPassword()">


            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Password Setup</h2></div>
                <div class="panel-body">
                    <alert></alert>
                    <div class="form-group">
                        <label for="oldpassword">Old Password <span class="text-danger">**</span></label>
                        <input type="password" class="form-control" formControlName="oldpassword" [(ngModel)]="model.oldpassword" />
                        <div style="font-size: 1.2em;color:red">
                            <em class="oldpassRq" *ngIf="validateControl('oldpassword') && checkError('oldpassword', 'required')">Old Password is required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password <span class="text-danger">**</span></label>
                        <input type="password" class="form-control" formControlName="password" [(ngModel)]="model.password" />
                        <div style="font-size: 1.2em;color:red">
                            <em class="passRq" *ngIf="validateControl('password') && checkError('password', 'required')">password is required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password <span class="text-danger">**</span></label>
                        <input type="password" class="form-control" formControlName="confirmpassword" [(ngModel)]="model.confirmpassword" />
                        <div *ngIf="checkConfirmpassword(model.confirmpassword,model.password)" class="help-block"><span class="text-danger">Confirm Password is not the same as Password</span></div>
                        <div style="font-size: 1.2em;color:red">
                            <em class="passRqAgain" *ngIf="validateControl('confirmpassword') && checkError('confirmpassword', 'required')">password is required</em>
                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <button id="savePass" [disabled]="!passwordForm.valid" class="btn btn-primary">Save</button>

                </div>
            </div>

        </form>

    </div>
    <div class="col-md-3">&nbsp;</div>

</div>
