
<br /><br /><br />

<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-6">
        <alert></alert>
        <form name="form" #f="ngForm" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><h4> Agilibo password recovery link send on your email account. Please check your email if you have not found the email try considering checking your spam.</h4></div>
            </div>

        </form>


    </div>
    <div class="col-md-2">&nbsp;</div>
</div>










