
<br /><br /><br />

<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-6">
        <alert></alert>
        <form name="form" (ngSubmit)="f.form.valid && forgotloginpassword()" #f="ngForm" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Account recovery: Recover your Agilibo Account</h4></div>
                <div class="panel-body">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />

                        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button [disabled]="loading" class="btn btn-primary">Next</button>
                    <a [routerLink]="['/signin']" class="btn btn-link">Cancel</a>
                </div>
            </div>

        </form>


    </div>
    <div class="col-md-2">&nbsp;</div>
</div>










